AWS_S3_BUCKET_NAME={{ aws_backup_bucket }}
AWS_ACCESS_KEY_ID={{ hostvars['localhost']['aws_backup_user_credentials']['access_key']['access_key_id'] }}
AWS_SECRET_ACCESS_KEY={{ hostvars['localhost']['aws_backup_user_credentials']['secret_access_key'] }}